
@{
    ViewBag.Title = "Not found";
}

<section id="home" class="s-home page-hero target-section" data-parallax="scroll" data-image-src="/images/space.png" data-natural-width=3000 data-natural-height=2000 data-position-y=center>
    <div class="error-code">
        <h1>
            404
        </h1>
        <h3>
            Oops! The page you were looking for could not be found
        </h3>
    </div>
</section>
